<!DOCTYPE html>
<html>
<head>
   
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}?v={{ timestamp }}">
</head>
<body>

    <img id="slideshow" src="{{ url_for('static', filename='images/display_init/image1.png') }}" alt="Slideshow" >
    <div class="blur-overlay"></div>
    {% if error_msg %}
    <div class="error-message" name = "error-msg" id = "error-msg">{{ error_msg }}</div>
    <script>
        setTimeout(() => {
            const el = document.getElementById("error-msg");
            if(el) el.style.display = "none";
        }, 3000); 
    </script>
    {% endif %}

    <p class = "title">Create!</p>
    <br>

    <div class = "complete_form">
        
        <form method="POST">
           
            <p class="subtitle">Video Title📝</p>
            
            <textarea type="text" class="video_name" placeholder="Enter video title" name = "vid_name"></textarea>
            <br><br>
            <div class="bar-container">
                <div class="bar"></div>
            </div>
            
            <p class="subtitle">Video Length ⏰</p>
            <div class="bar-container">
                <div class="bar"></div>
            </div>
            <br>

            <input type="radio" id="option1" name="len_choice" value="Option 1">
            <label for="option1">20-30 Seconds🏃‍♀️</label><br>

            <input type="radio" id="option2" name="len_choice" value="Option 2" checked>
            <label for="option2">40-50 Seconds🚶</label><br>

            <input type="radio" id="option3" name="len_choice" value="Option 3">
            <label for="option3">60-80 Seconds🕴</label><br>

            <br>
            
            <div class="bar-container">
                <div class="bar"></div>
            </div>
            <p class="subtitle">Video Generation Flags 🚩</p>
            
            <input type="checkbox" id="option4" name="flag_choice_nsfw" value="Option 4">
            <label for="option4">18+ Content🔞</label><br>
            
            <br>

            <input type="checkbox" id="option5" name="flag_choice_subtitles">
            <label for="option5">Cool Subtitles✨</label><br>

            <br>

            <div class="bar-container">
                <div class="bar"></div>
            </div>

            <p class="subtitle">Background Gameplay 🎮</p>


            <input type="radio" id="option6" name="gameplay_choice" value="Option 6">
            <label for="option6">Minecraft Parkour⛏️</label><br>

            <input type="radio" id="option7" name="gameplay_choice" value="Option 7" checked>
            <label for="option7">Subway Surfers🚊</label><br>
            <br>
            <div class="bar-container">
                <div class="bar"></div>
            </div>

            <button class = "generate" name = "generate">Generate!</button>
        </form>    

        <br>
        
    </div>

    
    <script>
        const images = [
            "{{ url_for('static', filename='images/display_init/image1.png') }}",
            "{{ url_for('static', filename='images/display_init/image2.jpg') }}",
            "{{ url_for('static', filename='images/display_init/image3.jpg') }}",
            "{{ url_for('static', filename='images/display_init/image4.jpg') }}",
            "{{ url_for('static', filename='images/display_init/image5.jpg') }}",
            "{{ url_for('static', filename='images/display_init/image6.jpg') }}",
            "{{ url_for('static', filename='images/display_init/image7.jpg') }}"
        ];

        const slideshow = document.getElementById("slideshow");
        
        let index = 0;
        const fadeDuration = 500;
        const minInterval = 5000;
        const maxInterval = 50000;

        function getRandomFloat(min, max) {
            return Math.random() * (max - min) + min;
        }

        function changeImage() {
            slideshow.style.opacity = 0;

            setTimeout(() => {
                index = (index + 1) % images.length;
                slideshow.src = images[index];

                slideshow.style.opacity = 1;
            }, fadeDuration);
            setTimeout(changeImage, getRandomFloat(minInterval, maxInterval));
        }
        
        setTimeout(changeImage, getRandomFloat(minInterval, maxInterval));
    </script>

</body>
</html>
