<!DOCTYPE html>
<html>
<head>
   
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}?v={{ timestamp }}">
</head>
<body>

    <img id="slideshow" src="{{ url_for('static', filename='images/display_init/image1.png') }}" alt="Slideshow" >
    <div class="blur-overlay"></div>

    <p class = "title2">
        Loading⏱️
        <br><br>
        Might take around 1-3 minutes🍿
        <br><br>
        Please dont refresh or close this page until loading not completed

    </p>
    <script href = "../static/code/slideshow.js"></script>
</body>
</html>
